platform:
    - x64

environment:
    global:
        CYG_ROOT: C:/cygwin64
        CYG_CACHE: C:/cygwin64/var/cache/setup
        CYG_MIRROR: http://mirrors.kernel.org/sourceware/cygwin/
        CC: gcc
    matrix:
        - CYG_ARCH: x86_64

install:
    - 'appveyor DownloadFile http://cygwin.com/setup-%CYG_ARCH%.exe -FileName setup.exe'
    - 'setup.exe -qnNdO -R "%CYG_ROOT%" -s "%CYG_MIRROR%" -l "%CYG_CACHE%" -P make -P gcc-core -P cmake'
    - 'appveyor DownloadFile http://ftp.slackware.com/pub/gsb/gsb64-2.30_slackware64-13.1/source/l/libelf/libelf-0.8.13.tar.gz'
    - 'mkdir libelf && tar xvzf libelf-0.8.13.tar.gz -C libelf'
    - '%CYG_ROOT%/bin/bash -lc "cd $APPVEYOR_BUILD_FOLDER/libelf/libelf-0.8.13 && ./configure --host x86_64-pc-cygwin && make && make install'
    - 'cinst 7zip.commandline'
    - 'cinst winpcap'
    - 'appveyor DownloadFile http://www.winpcap.org/install/bin/WpdPack_4_1_2.zip'
    - 'dir'
    - '7za x .\WpdPack_4_1_2.zip -o.'
    - 'xcopy .\WpdPack\Lib\x64\*.* C:\cygwin64\lib\'
    - 'xcopy /Y /E .\WpdPack\Include\*.* C:\cygwin64\usr\include\'

build_script:
    - '%CYG_ROOT%/bin/bash -lc "ls $APPVEYOR_BUILD_FOLDER'
    - '%CYG_ROOT%/bin/bash -lc "cd $APPVEYOR_BUILD_FOLDER && mkdir -p build'
    - '%CYG_ROOT%/bin/bash -lc "cd $APPVEYOR_BUILD_FOLDER/build && cmake ..'
    - '%CYG_ROOT%/bin/bash -lc "cd $APPVEYOR_BUILD_FOLDER/build && make'

artifacts:
  - path: 'build/stable/dynamips.exe'
