Source: dynamips
Section: net
Priority: optional
Maintainer: Achim Dreyer <adreyer@adreyer.de>
Build-Depends: debhelper (>= 5), libelf-dev, libpcap0.8-dev (>> 0.9.5)
Standards-Version: 3.7.2

Package: dynamips
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libelf1, libpcap0.8 (>> 0.9.5)
Suggests: dynagen
Description: Cisco 7200/3600 simulation platform
 The emulator currently supports Cisco 7200 and Cisco 3600 series.
 By default, a Cisco 7206VXR with NPE-200 (256 Mb of DRAM) is emulated.
 
